* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  color: #fff;
  background-color: #000000;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
  border: none;
}

h1, h2, h3 {
  text-align: center;
}

section {
  padding-top: 7rem;
}

.container {
  max-width: 115rem;
  padding: 0 5rem;
  margin: 0 auto;
}

// Header
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

h1 {
  font-size: 5rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.title {
  font-size: 3.5rem;
  line-height: 1.2;
}

// About
.about {
  width: 100%;
  height: 100vh;
}

.container.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-top: -10%;
}

// Projects
.projects {
  background-color: #111111;
}

.projects p {
  text-align: center;
  margin-top: 2rem;
}

.projects__wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
  padding-bottom: 5rem;
}

.projects__item {
  max-width: 30rem;
}

.projects__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.projects__title {
  background-color: #201e1e;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 800px) {
  .projects__wrapper {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

// Contacts
.contacts__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .title {
    font-size: 3rem;
  }
}